


<h2>Készíts új kérdőívet</h2>

<div class="formContainer">
    <form [formGroup]="createQuery" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label for="question">Kérdés</mat-label>
            <input matInput type="text" formControlName="question">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="ans1">Válasz 1</mat-label>
            <input matInput type="text" formControlName="ans1">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="ans2">Válasz 2</mat-label>
            <input matInput type="text" formControlName="ans2">
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label for="ans3">Válasz 3</mat-label>
            <input matInput type="text" formControlName="ans3">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="ans4">Válasz 4</mat-label>
            <input matInput type="text" formControlName="ans4">
        </mat-form-field>
        <br>
         <!--
        <mat-form-field>
            <mat-label for="nanswers">Válaszok száma</mat-label>
            <input id="nanswers" matInput type="number" formControlName="nanswers" min="2" max="16">
        </mat-form-field>
        <br>

        <input type="text" id="member" name="member" value="">Number of members: (max. 10)<br />
       

        
           
        
           <button mat-raised-button color="accent" id="filldetails" (click)="addFields()">Új válasz</button>
        --> 
        
        <!--
        <div>
            <mat-form-field>
                <mat-label for="ans1">Válasz 1</mat-label>
                <input matInput type="text" formControlName="ans1">
            </mat-form-field>
            <br>
        </div>-->


        <br>
            <mat-label for="public">Publikus</mat-label>
            <mat-checkbox formControlName="public"></mat-checkbox>
      
        <br>
            <mat-label for="verified">Csak igazolt felhsználók</mat-label>
            <mat-checkbox formControlName="verified"></mat-checkbox>
        <br>
        <button mat-raised-button color="accent" type="submit">Kérdőív készítése</button><br>
    </form>
</div>


