<div class="sidemenu" [ngStyle]="{'z-index':2000}">
    <mat-nav-list>
        <a mat-list-item routerLink="/main">
            <mat-icon>question_mark</mat-icon>
            <span> Főoldal</span> 
        </a>
        <a mat-list-item routerLink="/all-query">
            <mat-icon>dehaze</mat-icon>
            <span> Összes kérdőív</span> 
        </a>
        <a mat-list-item routerLink="/create-query" *ngIf="loggedInUser">
            <mat-icon>add</mat-icon>
            <span> Kérdőív készítés</span> 
        </a>
        <a mat-list-item *ngIf="loggedInUser" (click)="logout()">
            <mat-icon>login</mat-icon>
            <span> Kijelentkezés</span> 
        </a>
        <a mat-list-item routerLink="/log-in" *ngIf="!(loggedInUser)">
            <mat-icon>login</mat-icon>
            <span> Bejelntkezés</span> 
        </a>
       <a mat-list-item routerLink="/sign-up" *ngIf="!(loggedInUser)">
            <mat-icon>login</mat-icon>
            <span> Regisztráció</span> 
        </a> 
    </mat-nav-list>
</div>
