

<div>
    <mat-card class="query">
        <mat-card-header>
            <mat-card-title>Ez egy kérdés</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button color="accent" type="submit">Válasz 1</button><br><br>
            <button mat-raised-button color="accent" type="submit">Válasz 2</button><br><br>
            <button mat-raised-button color="accent" type="submit">Válasz 3</button><br><br>
            <button mat-raised-button color="accent" type="submit">Válasz 4</button><br><br>
        </mat-card-content>
    </mat-card>

</div>