a {
    text-decoration: none;
    color: white;

}

a:hover{
    color: lightgray;
}

a:active{
    color: gray;
}

.head {
    list-style: none;
}

ul {
    width: 100%;
}

.listRights {
   margin-left: 10px;
   margin-right: 1%;
}

.listRightl {
    margin-left: auto;
    margin-right: 0;
 }
.navigation-wrapper {
    width: 100%;
}


mat-toolbar{
    background-color:  #0288d1;
}
.title{
    color: white;
}
.navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 10px;
}

mat-sidenav {
    width: 250px;
}
:host{
    height: 100%;

}
.container {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #01579b;
    height: 100%;
    margin:0;
    padding: 0;
}

.listO{
    margin-left: auto;
    margin-right: 0;
}